<h2>{{ entity?.valueMap | entityLabel : primaryAttribute }}</h2>
(<a [routerLink]="['/schemas', entity?.schema?.id]">{{
  entity?.schema?.name
}}</a
>)
<h4>Attributes:</h4>
<ng-container *ngIf="editMode; else readonlyMode">
  <app-entity-add-form
    *ngIf="entity?.schema && entity?.valueMap"
    [schema]="entity?.schema"
    [valueMap]="entity?.valueMap"
    (submit)="onSubmit($event)"
  ></app-entity-add-form>
</ng-container>
<ng-template #readonlyMode>
  <ul>
    <ng-container
      *ngFor="
        let attribute of entity?.schema?.attributes | attributeFilter : false
      "
    >
      <li>
        <label>{{ attribute.name }}:</label>

        <app-entity-label
          [attribute]="attribute"
          [values]="entity?.valueMap?.[attribute.id]"
          routePrefix="../"
        ></app-entity-label>
      </li>
    </ng-container>
  </ul>
</ng-template>
<button *ngIf="!editMode" type="button" (click)="edit()">Edit Entity</button>
